// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


h2{
    color: black;
}


#topEarnerTable {
    padding-top: 20px;
}

.govuk-button govuk-button{
    border: 2px solid black !important;
}

   
/* Header Formatting */
h1,h2 { /* Header 1 Colour will be Kainos Blue*/
    color: rgb(40,52,130);
    margin: 10px;
  }

h2 {    /* Header 2 Colour will be Kainos Green*/
    color: rgb(90, 153, 71);
    margin: 10px;
  }

.header-img {
width: 100%;
height: 150px;
background: url('images/KainosHeader.jpeg');
background-size: cover;
padding: 0;
margin: 0;
}

.header-name-img {
    width: 250px;
    height: 75px;
    background: url('images/KainosName.png');
    background-size: cover;
    padding: 0;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    }

/* Paragraph Formatting*/
p {
    font-family: Helvetica, Calibri;
    margin: 10px;
}

/* Image Formatting */
.image {
    padding: 30px;
}

html, body{
    padding: 0;
    margin: 0;
  }

/* Layout Formatting */
.center {
    display: block;
    text-align: center;
  }

/* Button Formatting*/
.button {
    background-color: rgb(90, 153, 71);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    border-radius: 12px;
    width: 100px;
    height: 50px;
}

.button:hover {background-color: rgb(65, 110, 52)}


/* Table Formatting */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
/* Form Formatting */
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.submit {
    font-weight:bold;
    font-size: 17px;
    letter-spacing: 1px;
    }

.govuk-width-container {
    max-width: 1080px;
}

