{% extends "layout_unbranded.html" %} 
{% block pageTitle %} 
  List of Employees 
{% endblock %} 
 
{% block content %}

<h2>List of Employees</h2> 
{% if employees and employees.length > 0 %} 
{% set employeerows = [] %} 
{% for employee in employees %} 
{% set employeerows = (employeerows.push([{ text: employee.employee_id }, {text: employee.employee_name}, {text: employee.ni_number}, 
                        {text: employee.employee_address}, {text: employee.employee_postcode},  {text: "£" + employee.salary}, {text: employee.bank_detail}, 
                        {text:  "True" if  employee.is_manager else "False"}, {text: "True" if   employee.active else "False"}, {text: employee.employee_type}]), employeerows) %} 
{% endfor %} 
{{govukTable({ 
    head: [ { text: "ID" },{ text: "Name" },{ text: "NI Number" }, 
            { text: "Address" },{ text: "Postcode" },{ text:"Salary" },{ text: "Bank Details" },
            { text: "Manager" },{ text: "Active" },{ text: "Department" } ], 
    rows: employeerows }) 
}} 
{% else %}
There are no employees. 
{% endif %}

{% endblock %}