{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layout_unbranded.html" %} 
{% block pageTitle %} 
  List of Employees per Department
{% endblock %} 
 
{% block beforeContent %}
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
    text: "Back",
    href: "/"
    }) }}
{% endblock %}

{% block content %}

{{ govukButton({
  text: "HR",
  href: "/per-department/HR"
}) }}
{{ govukButton({
  text: "Sales",
  href: "/per-department/Sales"
}) }}
{{ govukButton({
  text: "Finance",
  href: "/per-department/Finance"
}) }}
{{ govukButton({
  text: "BU",
  href: "/per-department/BU"
}) }}
{{ govukButton({
  text: "Technical",
  href: "/per-department/Technical"
}) }}

<h2>Employees in {{departmentName}} ( {{departmentEmployees.length}} )</h2> 
{% if departmentEmployees and departmentEmployees.length > 0 %} 
{% set employeerows = [] %} 
{% for departmentEmployee in departmentEmployees%}
{% set employeerows = (employeerows.push([{ text: departmentEmployee.employee_id }, {text: departmentEmployee.employee_name}]), employeerows) %} 
{% endfor %} 
{{govukTable({ 
    head: [ { text: "Employee ID" },{ text: "Full Name" }], rows: employeerows }) 
}} 
{% else %} 
There are no employees. 
{% endif %}

{% endblock %}